.container {
  // width: 980px;
  margin-right: auto;
  margin-left: auto;
}

.whiteContainer {
  background: white;
  border-radius: 10px;
}

.newsPageSinglePanel {
  padding: 20px;
  height: 200px;
  background: white;
  max-width: 400px;
  margin: 10px auto;
  cursor: pointer;

  &:hover {
    border-color: #2ec866;
    color: #2ec866;
  }
}

.textBox {
  line-height: 2.5ex;
  height: 15ex;
  /* 2.5ex for each visible line */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.roundpanel {
  border-radius: 10px;
  padding: 0 50px 50px;
}

.pageHeader {
  margin-left: 0;
}

.newsPageSinglePanel .panel-body,
.newsPageSinglePanel .panel-heading {
  padding: 20px 15px;
}

.newsPageSinglePanel .panel-body {
  height: 200px;
}

.imageWrapper {
  display: inline;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  float: left;
}

.headerWrapper {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 300px;
}

.clear {
  clear: both;
}

.imageWrapper img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.btn-wrapper {
  width: 100%;
  position: absolute;
  bottom: 35px;
  left: -30px;
}

.newsPageProjektButton {
  width: 120px;
  margin: 0 auto;
  display: block;
  float: right;
}
