.container {
  // width: 980px;
  margin-right: auto;
  margin-left: auto;
}

.whiteContainer {
  background: white;
  border-radius: 10px;
}

.navFont {
  color: white;
  background-color: white;

}

.myWrapper {
  padding: 10px;
}

.newsPageSinglePanel {
  background: white;
  max-width: 400px;
  margin: 10px auto;
  cursor: pointer;

  &:hover {
    border-color: #2ec866;
    color: #2ec866;
  }
}

.newsPageSinglePanel:hover .textBox,
.newsPageSinglePanel:hover .headerWrapper
 {
  border-color: #2ec866;
  color: #2ec866;
}

.roundpanel {
  border-radius: 10px;
  padding: 0 50px 50px;
}

.pageHeader {
  margin-left: 0;
}

.newsPageSinglePanel .panel-body,
.newsPageSinglePanel .panel-heading {
  padding: 20px 15px;
}

.newsPageSinglePanel .panel-body {
  height: 200px;
}

.imageWrapper {
  display: inline;
  width: 75px;
  height: 75px;
  float: left;
  margin: auto 10px auto auto;
}

.clear {
  clear: both;
}

.imageWrapper img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.btn-wrapper {
  width: 100%;
  position: absolute;
  bottom: 35px;
  left: -30px;
}

.newsPageProjektButton {
  width: 120px;
  margin: 0 auto;
  display: block;
  float: right;
}

.profilView{
  margin: auto;
  padding-top: 40px;
}
