.modal-body {
  .try-git {
    width: 100%;
    min-height: 100%;
    height: 1000px;
    border: none;
    overflow: hidden;

    @media (max-width: 970px) {
      height: 1260px;
    }
  }
}

.custom-modal {
  width: 90%;
}