.tutorial-modal {
  width: 90%;
  margin-top: 5vh;
  margin-bottom: 0vh;

  .modal-header {
    height: 13vh;
    padding: 2vh;
  }

  .modal-footer {
    height: 12vh;
    padding: 3vh;
  }

  .modal-body {
    iframe {
      width: 100%;
      min-height: 100%;
      height: 60vh;
      border: none;
    }
  }
}

.tutorial {
  width: 50%;

  @media (max-width: $screen-md) {
    width: 90%;
  }
}

@mixin logoSize($logo-size) {
  width: $logo-size;
  height: $logo-size;

  iframe {
    width: $logo-size;
    height: $logo-size;
    position: absolute;
    border: none;
  }
}

.logo {
  @include logoSize(480px);
  @media (max-width: $screen-md) {
    @include logoSize(360px);
  }
  @media (max-width: $screen-sm) {
    @include logoSize(120px);
  }
}
