.news-page {
  div{
    width: 100%;
  }

  #TableComponent{
    display: none;
  }
  #ProjectPreview{
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }

  .logo {
    display: block;
    width: 100%;
    height: auto;
    img {
    width: 100%;
    }
  }

  .title {
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    h1 {
      font-size: 30px;
      width: 100%;
    }
  }

  .well {
    width: 300px;
    height: 300px;
    display: flex;
    align-content: center;

    hr,
    div {
    display: none;
    }
    .short-preview {
      display: block;
      .logo,
      .title {
        display: block;
      }

      .title {
        text-align: center;
        height: 100%;
        display: flex;
        align-items: center;
      }
      img {
        position: absolute;
      }
    }
  }
}
