.news-page {
  #TableComponent{
    display: none;
  }
  #ProjectPreview{
    width: 100%;
  }
  .well {
    @include gallery(3 of 12);
    @media (max-width: $screen-md) {
      @include gallery(4 of 12);
    }
    @media (max-width: $screen-sm) {
      @include gallery(6 of 12);
    }
    @media (max-width: $screen-xs) {
      @include gallery(11 of 12);
    }
  }

  .logo {
    display: block;
    width: 100%;
    height: auto;
    img {
    width: 100%;
    }
  }

  .title {
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    h1 {
      font-size: 30px;
    }
  }

  .well div {
    display: none;
  }
}
