.card {
  width: 300px;
  flex: 1 1 300px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  //width: 20vw;
  height: 36vh;
  margin-right: 2vh;
  margin-left: 2vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .1);

  &:hover {
    color: #2ec866;
    .textBox p {
      white-space: normal;
    }
  }

  .headerWrapper h3,
  .textBox p {
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
      width: 100%;
  }

  .headerWrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 75px;
    padding: 1.5%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, .1);

    .imageWrapper {
      width: auto;
      max-height: 100%;
      margin: 0;
    }
  }

  .infoWrapper {
    padding: 5%;
    font-family: Lato, sans-serif;
    color: rgba(0, 0, 0, .66);
    font-weight: 300;
  }

  .footer-pCards {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 2vh 1vw;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, .1);
  }
}
